// Material
color-brand = #4caf50
color-blue = #2196f3
color-green = #8bc34a
color-purple = #9c27b0
color-red = #f44336
color-yellow = #ffc107
color-white = #fff
color-offwhite = #f5f5f5

shadow-default = 0 1px 6px rgba(0,0,0,.3)
shadow-brand = 0 0 2px rgba(0,0,0,.3),0 1px 6px rgba(76,175,80,.3)
shadow-blue = 0 0 2px rgba(0,0,0,.3),0 1px 6px rgba(33,150,243,.3)
shadow-green = 0 0 2px rgba(0,0,0,.3),0 1px 6px rgba(139,195,74,.3)
shadow-purple = 0 0 2px rgba(0,0,0,.3),0 1px 6px rgba(156,39,176,.3)
shadow-red = 0 0 2px rgba(0,0,0,.3),0 1px 6px rgba(244,67,54,.3)
shadow-yellow = 0 0 2px rgba(0,0,0,.3),0 1px 6px rgba(255,193,7,.3)


// Color
color-subject = color-blue
shadow-style = shadow-blue

color-background = #fafafa
color-font = #444
color-meta = #999
color-border = #ddd
color-link = color-subject


// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}


// Width
page-width = 1200px
